cache/
__pycache__/
venv/
cache_flags/
cache_tracks/
cache_circuitos/
cache_ganadores/
cache_historial/
cache_fotos/
cache_logos/
precache.py
precache_tracks.py
precache_historial.py
test.py
F1CalendarApp.spec
dist/
build/
.vscode/
graphify-out/
cache_calendarios/
dist_nuevo/
web/datos/actual.json
web/datos/comun.json
web/datos/ganadores.json
